<div th:fragment="header" xmlns:border-radius="http://www.w3.org/1999/xhtml">
    <header>
        <div class="p-3 mb-4 border-bottom d-flex justify-content-between">
            <div class="ms-5">
                <a href="/" class="text-dark text-decoration-none ">
                    <span class="fs-4">clothe$hop</span>
                </a>
            </div>

            <div class="me-5 d-flex">
                <a href="/user/sign-up" class="btn btn-outline-primary" style="border-radius: 6px" type="sign_up_button">Регистрация</a>

                <a href="/user/sign-in" class="btn btn-primary ms-1" style="border-radius: 6px" type="sign_in_button">Вход</a>

            </div>
        </div>

    </header>
</div>